form(action=oauthAuthorizeUrl method="post")
  p
    h4 Response type:
    label
      input.with-gap(type="radio" name="response_type" value="authorization_code" checked)
      span authorization_code
  p
    h4 Scopes:
    .row
      .col.s12
        label
          input.filled-in(type="checkbox" name="scope[]" value="hoge")
          span hoge
      .col.s12
        label
          input.filled-in(type="checkbox" name="scope[]" value="fuga")
          span fuga
  p
    button.btn(type="submit" name="action")
      span get access token