if(auth)
  div(style="max-width: 600px;")
    table
      if(auth.accessToken)
        tr
          th accessToken 
          td #{auth.accessToken.token}
      if(auth.clientId)
        tr
          th client_id 
          td #{auth.clientId}
      if(auth.clientSecret)
        tr
          th client_secret 
          td #{auth.clientSecret}
      if(auth.scope)
        tr
          th scope
          td #{auth.scope}